<template>
    <div>
        <footer id="footer">
            <section class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget_contact">
                            <h3 class="widget_title">Where We Are ?</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu.</p>
                            <ul>
                                <li>
                                    <span>Address :</span>
                                    Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.
                                </li>
                                <li>
                                    <span>Support :</span>Support Telephone No : (+2)01111011110
                                </li>
                                <li>Support Email Account : info@example.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="ask_question.html">Ask Question</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="cat_question.html">Questions</a></li>
                                <li><a href="user_profile.html">Users</a></li>
                                <li><a href="blog_1.html">Blog</a></li>
                                <li><a href="right_sidebar.html">Pages</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                                <li><a href="contact_us.html">Contact Us</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget_title">Popular Questions</h3>
                            <ul class="related-posts">
                                <li class="related-item">
                                    <h3><a href="#">This is my first Question</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                                    <div class="clear"></div><span>Feb 22, 2014</span>
                                </li>
                                <li class="related-item">
                                    <h3><a href="#">This Is My Second Poll Question</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                                    <div class="clear"></div><span>Feb 22, 2014</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget_twitter">
                            <h3 class="widget_title">Latest Tweets</h3>
                            <div class="tweet_1"></div>
                        </div>
                    </div>
                </div><!-- End row -->
            </section><!-- End container -->
        </footer><!-- End footer -->

        <footer id="footer-bottom">
            <section class="container">
                <div class="copyrights f_left">Copyright 2014 Ask me | <a href="#">By 2code</a></div>
                <div class="social_icons f_right">
                    <ul>
                        <li class="twitter"><a original-title="Twitter" class="tooltip-n" href="#"><i class="social_icon-twitter font17"></i></a></li>
                        <li class="facebook"><a original-title="Facebook" class="tooltip-n" href="#"><i class="social_icon-facebook font17"></i></a></li>
                        <li class="gplus"><a original-title="Google plus" class="tooltip-n" href="#"><i class="social_icon-gplus font17"></i></a></li>
                        <li class="youtube"><a original-title="Youtube" class="tooltip-n" href="#"><i class="social_icon-youtube font17"></i></a></li>
                        <li class="skype"><a original-title="Skype" class="tooltip-n" href="skype:#?call"><i class="social_icon-skype font17"></i></a></li>
                        <li class="flickr"><a original-title="Flickr" class="tooltip-n" href="#"><i class="social_icon-flickr font17"></i></a></li>
                        <li class="rss"><a original-title="Rss" class="tooltip-n" href="#"><i class="social_icon-rss font17"></i></a></li>
                    </ul>
                </div><!-- End social_icons -->
            </section><!-- End container -->
        </footer><!-- End footer-bottom -->
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
