<template>
    <div>
        <header id="header">
            <section class="container clearfix">
                <div class="logo"><a href=""><img alt="" :src="'frontend//images/logo.png'"></a></div>
                <nav class="navigation">
                    <ul>
                        <li>
                            <router-link  :to = "'/'">Home</router-link>
                        </li>

                        <li class="ask_question">
                            <router-link :to = "'/question'">Questions</router-link>
                        </li>

                        <li class="ask_question">
                            <router-link :to = "'/ask-question'">Ask Question</router-link>
                        </li>


                        <li><a href="blog_1.html">Blog</a>
                            <ul>
                                <li><a href="blog_1.html">Blog 1</a>
                                    <ul>
                                        <li><a href="blog_1.html">Right sidebar</a></li>
                                        <li><a href="blog_1_l_sidebar.html">Left sidebar</a></li>
                                        <li><a href="blog_1_full_width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog_2.html">Blog 2</a>
                                    <ul>
                                        <li><a href="blog_2.html">Right sidebar</a></li>
                                        <li><a href="blog_2_l_sidebar.html">Left sidebar</a></li>
                                        <li><a href="blog_2_full_width.html">Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="single_post.html">Post Single</a>
                                    <ul>
                                        <li><a href="single_post.html">Right sidebar</a></li>
                                        <li><a href="single_post_l_sidebar.html">Left sidebar</a></li>
                                        <li><a href="single_post_full_width.html">Full Width</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="contact_us.html">Contact Us</a></li>
                        <li><a href="contact_us.html">About</a></li>
                    </ul>
                </nav>
            </section><!-- End container -->
        </header>
    </div>
</template>

<script>
    export default {
        mounted() {
            // console.log('Component mounted.')
        }
    }
</script>
