<template>
    <div>
        <div class="section-warp ask-me" v-bind:style="{ 'background-image': 'url(/frontend/images/1.jpg)' }" style="background-size: cover">
            <div class="container clearfix">
                <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>Welcome to Ask me</h2>
                            <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque.</p>
                            <div class="clearfix"></div>
                            <a class="color button dark_button medium" href="#">About Us</a>
                            <span class="login-links login-links-r">
                                <a class="color button  dark_button medium" href="#">Join Now</a>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <form class="form-style form-style-2">
                                <p>
                                    <textarea rows="4" id="question_title" onfocus="if(this.value=='Ask any question and you be sure find your answer ?')this.value='';" onblur="if(this.value=='')this.value='Ask any question and you be sure find your answer ?';">Ask any question and you be sure find your answer ?</textarea>
                                    <i class="icon-pencil"></i>
                                    <span class="color button smallpublish-question">Ask Now</span>
                                </p>
                            </form>
                        </div>
                    </div><!-- End row -->
                </div><!-- End box_icon -->
            </div><!-- End container -->
        </div><!-- End section -->
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
