<template>
    <div>
        <div class="login-panel">
            <section class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="page-content">
                            <h2>Login</h2>
                            <div class="form-style form-style-3">
                                <form id="loginForm" v-on:submit.prevent="userLogin()" method="post">
                                    <div class="form-inputs clearfix">
                                        <p class="login-text">
                                            <input type="text" placeholder="Username" v-model="login_user.email">
                                            <i class="icon-user"></i>
                                            <span class="text-danger" v-if="errors.email">{{errors.email[0]}}</span>
                                        </p>
                                        <p class="login-password">
                                            <input type="password" placeholder="Password" v-model="login_user.password">
                                            <i class="icon-lock"></i>
                                            <a href="#">Forget</a>
                                            <span class="text-danger" v-if="errors.password">{{errors.password[0]}}</span>
                                        </p>
                                    </div>
                                    <p class="form-submit login-submit">
                                        <input type="submit" value="Log in" class="button color small login-submit submit">
                                    </p>
                                    <div class="rememberme">
                                        <label><input type="checkbox" checked="checked"> Remember Me</label>
                                    </div>
                                </form>
                            </div>
                        </div><!-- End page-content -->
                    </div><!-- End col-md-6 -->
                    <div class="col-md-6">
                        <div class="page-content Register">
                            <h2>Register Now</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravdio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequa. Vivamus vulputate posuere nisl quis consequat.</p>
                            <a class="button color small signup">Create an account</a>
                        </div><!-- End page-content -->
                    </div><!-- End col-md-6 -->
                </div>
            </section>
        </div>
        <!-- End login-panel -->

        <div class="panel-pop" id="signup">
            <h2>Register Now<i class="icon-remove"></i></h2>
            <div class="form-style form-style-3">
                <form v-on:submit.prevent="userRegister()" id="registerForm" method="post">
                    <div class="form-inputs clearfix">
                        <p>
                            <label class="required">Username<span>*</span></label>
                            <input type="text" name="username" v-model="reg_user.username">
                            <span class="text-danger" v-if="errors.username">{{errors.username[0]}}</span>
                        </p>
                        <p>
                            <label class="required">E-Mail<span>*</span></label>
                            <input type="email" name="email" v-model="reg_user.email">
                            <span class="text-danger" v-if="errors.email">{{errors.email[0]}}</span>
                        </p>
                        <p>
                            <label class="required">Password<span>*</span></label>
                            <input type="password" name="password" v-model="reg_user.password">
                            <span class="text-danger" v-if="errors.password">{{errors.password[0]}}</span>
                        </p>
                        <p>
                            <label class="required">Confirm Password<span>*</span></label>
                            <input type="password" name="confirm_password" v-model="reg_user.password_confirmation">
                            <span class="text-danger" v-if="errors.password_confirmation">{{errors.password_confirmation[0]}}</span>
                        </p>
                    </div>
                    <p class="form-submit">
                        <input type="submit" value="Signup" class="button color small submit">
                    </p>
                </form>
            </div>
        </div><!-- End signup -->

        <div class="panel-pop" id="lost-password">
            <h2>Lost Password<i class="icon-remove"></i></h2>
            <div class="form-style form-style-3">
                <p>Lost your password? Please enter your username and email address. You will receive a link to create a new password via email.</p>
                <form>
                    <div class="form-inputs clearfix">
                        <p>
                            <label class="required">Username<span>*</span></label>
                            <input type="text">
                        </p>
                        <p>
                            <label class="required">E-Mail<span>*</span></label>
                            <input type="email">
                        </p>
                    </div>
                    <p class="form-submit">
                        <input type="submit" value="Reset" class="button color small submit">
                    </p>
                </form>
                <div class="clearfix"></div>
            </div>
        </div><!-- End lost-password -->


        <div id="header-top" v-if="auth">
            <section class="container clearfix">
                <nav class="header-top-nav">
                    <ul>
                        <li>
                            <router-link :to = "'/user-profile'"><i class="icon-user"></i> Profile ({{ auth.username }})</router-link>
                        </li>
                        <li>
                            <router-link :to = "'/user-edit-profile'"><i class="fa fa-edit"></i> Edit Profole</router-link>
                        </li>

                        <li><a class="text-right text-danger" href="#" v-on:click="userLogout()"><i class="fa fa-sign-out"></i><b>Logout</b></a></li>
                    </ul>
                </nav>
                <div class="header-search">
                    <form>
                        <input type="text" value="Search here ..." onfocus="if(this.value=='Search here ...')this.value='';" onblur="if(this.value=='')this.value='Search here ...';">
                        <button type="submit" class="search-submit"></button>
                    </form>
                </div>
            </section><!-- End container -->
        </div>
        <div id="header-top" v-else="auth">
            <section class="container clearfix">
                <nav class="header-top-nav">
                    <ul>
                        <li><a href="contact_us.html"><i class="icon-envelope"></i>Contact</a></li>
                        <li><a href="#"><i class="icon-headphones"></i>Support</a></li>
                        <li><a href="login.html" id="login-panel"><i class="icon-user"></i>Login Area</a></li>
                    </ul>
                </nav>
                <div class="header-search">
                    <form>
                        <input type="text" value="Search here ..." onfocus="if(this.value=='Search here ...')this.value='';" onblur="if(this.value=='')this.value='Search here ...';">
                        <button type="submit" class="search-submit"></button>
                    </form>
                </div>
            </section><!-- End container -->
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2'
    export default {
        data: function () {
            return {
                auth : window.auth,
                errors: [],
                reg_user: {
                    username: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                },

                login_user: {
                    email: '',
                    password: '',
                }
            }
        },

        mounted() {
            // console.log('Component mounted.')
        },

        methods: {
            userRegister() {
                var _this = this;
                var newUser = _this.reg_user;
                axios.post('/user-register', newUser)
                    .then(function (resp) {
                        if (resp.data.status == 5000){
                            _this.errors = resp.data.error;
                        }else {
                            $("#registerForm")[0].reset();
                            // _this.$router.push({path: '/'});
                        }
                    })
                    .catch(function (resp) {
                        alert("User Register Failed");
                    });
            },

            userLogin(){
                var _this = this;
                var userLogin = _this.login_user;
                axios.post('/user-login', userLogin)
                    .then(function (resp) {
                        if (resp.data.status == 5000){
                            _this.errors = resp.data.error;
                        }else {
                            // console.log(resp.data);
                            // console.log(resp.data.status);

                            if (resp.data.status == 'true') {
                                $("#loginForm")[0].reset();
                                Swal.fire({
                                    // position: 'center',
                                    type: 'success',
                                    title: resp.data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                })
                                setTimeout(function(){ location.reload(); }, 2000);
                            }else {
                                Swal.fire({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: resp.data.message,
                                    footer: '<a href>Forget  Email or Password</a>'
                                })
                            }

                            // _this.$router.push({path: '/'});
                        }
                    })
                    .catch(function (resp) {
                        alert("User Login Failed");
                    });
            },

            userLogout(){
                axios.post('/user-logout')
                    .then(function (resp) {
                        if (resp.data.status == 'true') {
                            Swal.fire({
                                type: 'success',
                                title: resp.data.message,
                                showConfirmButton: false,
                                timer: 2000
                            })
                            setTimeout(function(){ location.reload(); }, 2000);
                        }
                    })
            }
        }
    }
</script>
