<template>
    <div>
        <slider></slider>
        <section class="container main-content">
            <div class="row">
                <div class="col-md-9">

                    <div class="tabs-warp question-tab">

                        <div class="tab-inner-warp">
                            <div class="tab-inner">
                                <article class="question question-type-normal" v-for="question in questions">
                                    <h2>
                                        <a href="single_question.html">{{ question.question }}</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" :src="'/frontend/images/avatar.png'"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <span class="mr-5"><i class="fa fa-user-circle-o"></i> by <a href="#">Rashiqul</a></span>

                                        <p class="question-desc">
                                            <i class="icon-tags"></i>
                                            <a href="#">wordpress</a>, <a href="#">question</a>, <a href="#">developer</a>
                                        </p>
                                        <div class="question-details">
                                            <span class="question-answered question-answered-done"><i class="icon-ok"></i>Solved</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="fa fa-comment-o"></i>23 Comments</a></span>
                                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <span class="single-question-vote-result">+22</span>
                                        <ul class="single-question-vote">
                                            <li><a href="#" class="single-question-vote-down" title="Dislike"><i class="icon-thumbs-down"></i></a></li>
                                            <li><a href="#" class="single-question-vote-up" title="Like"><i class="icon-thumbs-up"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>


                                <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
                            </div>
                        </div>

                    </div><!-- End page-content -->
                </div><!-- End main -->

                <!-- Sidebar -->

                <!-- End sidebar -->
                <sidebar></sidebar>
            </div><!-- End row -->
        </section>
    </div>
</template>

<script>
    import Sidebar    from '../components/included/sidebar';
    import Slider    from '../components/included/slider';
    export default {
        title: 'Home',
        components: {
            Sidebar,
            Slider,
        },

        data: function () {
            return {
                questions: [],
            }
        },

        mounted() {
            this.pageScript();
            this.getQuestions();
        },

        methods:{
            pageScript() {
                // jQuery(".tooltip-n").tipsy({fade:true,gravity:"s"});
            },

            getQuestions(){
                var _this = this;
                axios.get('/get-questions')
                    .then(function (resp) {
                        console.log(resp.data)
                        _this.questions = resp.data
                    })
            }
        }


    }
</script>
